html,body {
    padding: 0;
    margin: 0;
    background-color: white;
}

/*
Make the nav centered.
 */
.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
    font-size: large;
}

#aboutMeParagraph {
    color: black;
    padding: 40px;
    background-color: #c49d24;
    text-align: center;
}
#name {
    padding-bottom: 20px;
    font-size: 50px;
    color: whitesmoke;
}

#aboutMeTitle {
    padding: 30px;
    color: #002846;
    text-align: center;
}

#experienceTitle {
    padding: 30px;
    color: #002846;
    text-align: center;
}

#aboutMeDiv {
    color: #393939;
    font-size: medium;
    padding: 20px;
    background-color: #002846;
    text-align: center;
}

#about-me-tab {
    color: black;
}

#experience-tab {
    color: black;
}
#blog-tab {
    color: black;
}

.popover{
    width: 100%; /* Max Width of the popover (depending on the container!) */
}

.popover-title {
    text-align: center;
    color: black;
    font-size: 20px;
}
.popover-content {
    color: black;
    font-size: 15px;
}

#arcDateAndTimePar {
    color: black;
}

#sylmarDateAndTimePar {
    color: black;
}

#amazonDateAndTimePar {
    color: black;
}

.btn-primary {
    background-color: #002846;
    color: white;
}
